<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:name=".MyApp"
        android:localeConfig="@xml/locales_config"
        android:dataExtractionRules="@xml/data_extraction_rules"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.diary.app.demo.ui.language.LanguageActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.diary.app.demo.ui.policy.PolicyActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.diary.app.demo.ui.security.SecurityQuestionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name="com.diary.app.demo.ui.passcode.PassCodeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.diary.app.demo.ui.moodgalery.MoodGallery"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.diary.app.demo.ui.theme.ThemeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.diary.app.demo.ui.noti.NotificationActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name="com.diary.app.demo.ui.search.SearchActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.diary.app.demo.ui.diary.AddDiary"
            android:screenOrientation="portrait"
            android:exported="false" />

        <receiver
            android:name=".service.AlarmReceiver"
            android:screenOrientation="portrait"
            android:exported="false" />
        <!--
<activity
            android:theme="@style/Base.CardView"
            android:name="com.diary.app.demo.ui.HomeActivity"
            android:exported="false" />
        -->
        <activity
            android:name="com.diary.app.demo.ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.diary.app.demo.ui.security.SecurityQuestion"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.diary.app.demo.ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.diary.app.demo.ui.onboarding.OnboardingActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.diary.app.demo.ui.unlock.UnlockPattern"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.diary.app.demo.ui.calendar.CalendarActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>